.html{
  font-size: 16px;  /*hor helping inrem value*/
  margin: 0;
  padding: 0;
}

.body { /*removes the white border al around the page */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex; /* Flexbox to align sections side by side */
  flex-direction: row;
  height: 100%; /* Full viewport height */
  width: 100%; /* Full viewport width VVIMP TO SET UP*/

  font-family: "Poppins", sans-serif;
}

/* Static Left Section */
div.static {
  width: 37%; /* Corresponds to the Bootstrap 'col-3' width */
  height: 100%; /* Full height of the viewport */
  overflow: hidden; /* Prevent scrolling on the left side */
  /*z-index: 1000; /* Ensure it stays above the right section */
  border-right: 1px solid #CAD2C5;  
  background-color: #354F52;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;

  position:fixed;
  /* if we put fixed here, we have to put margin-left in scrollable side, if we dont put position altogether, the left side wobbles */
}
.staticMainText{
  margin: 10vh 5vw 0 5vh;  /* top-right-bottom-left, like clockhands OR top, bottom  DO NOT CHANGE*/
  line-height: 0.5;
}

.staticMainIntro{
  /* all css converted to inline */
}

.staticMainLinks{
  /* all css converted to inline */
}

.staticMainLinks a {
  text-decoration: none; /*removes the underlines*/
  cursor: pointer;
  color: #CAD2C5;
}



.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

.seaweed-script-regular {
  font-family: "Seaweed Script", cursive;
  font-weight: 400;
  font-style: normal;
}


/* Scrollable Right Section */
.scrollable {
  margin-left:37%;
  /* we dont need a margin-left, as it sets the beginning of the content of the scrollable side to a margin in the desired value*/
  width: 63%;
  height: 100%;
  overflow-y: auto;
  background-color: #2F3E46;
  color: #ffffe4;
}

.socialLinks a{  /*important to put a in front */
  text-decoration: none; /*removes the underlines*/
  cursor: pointer;
  color: #84A98C; /*need to define color here in order for it to transition*/
  transition: color 0.3s ease;
}

.socialLinks a:hover {
  color: #CAD2C5; /* Color on hover */
}