.html, .body{
  font-size: 16px;  /*hor helping inrem value*/
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container{
  display: flex; /* Flexbox to align sections side by side */
  flex-direction: row;
  height: 100%; /* Full viewport height */
  width: 100%; /* Full viewport width VVIMP TO SET UP*/

}

/* Static Left Section */
.left {
  /* entire left side collectively */
  width: 30%; /* Corresponds to the Bootstrap 'col-3' width */
  min-height: 100vh; /* Full height of the viewport */
  max-width: 100vw;


  border-right: 1px solid #CAD2C5;  
  border-width: thin;
  background-color: #354F52;

  overflow: hidden; /*necessary as if we dont have this then the content when zoomed a lot may come to scrollable side */

  position:fixed;
  /* if we put fixed here, we have to put margin-left in scrollable side, if we dont put position altogether, the left side wobbles */

}

.leftWrapper{
  /* holds all the content on the left static side */
  width: calc(100% - 6vw); /* 50px margin on both left and right */
  margin-left: 3vw;
  margin-right: 3vw;
  /* here we will use 100% of the static wrapper, 100vh would mean entire webpage */

  height: calc(100vh - 30vh);
  /* make sure you use vh fpr height and there is space between the brackets and elements  */
  margin-top: 15vh;
  margin-bottom:15vh;
  /* above make sure that the content is well fit between the left and right boundaries  */
  /* we wont take 100%, rather vh */

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between; /* Ensure equal space between items */

  box-sizing: border-box;
}

.tiro-devanagari-hindi-regular {
  font-family: "Tiro Devanagari Hindi", serif;
  font-weight: 400;
  font-style: normal;
}

.amodh{
  line-height: 0.75;
  color: #CAD2C5; 


}
/* 
.amodhBlock {
  display: block;
  position: relative;

}

.amodhLeft {
  align-self: flex-start;
}

.amodhRight {
  align-self: flex-end;
} */



.aboutAmodh{
  display: flex;
  flex-direction: column;

  justify-content: center;
/* 
  font-size: 1.25vw; */
  color: #CAD2C5;
  /* margin: 5vw; */


}

.leftLinks{
  display: flex;
  flex-direction: column;


  font-size: calc(0.75vh + 0.75vw);
  box-sizing: border-box;

}


.leftLinks a {
  text-decoration: none; /* Removes the underlines */
  cursor: pointer;
  color: #CAD2C5; /* Default color */
  transition: color 0.3s ease; /* Smooth transition effect */
}

.leftLinks a:hover {
  color: white; /* Color on hover */
}


/* Scrollable Right Section */
.scrollable {
  margin-left:30%;
  /* we dont need a margin-left, as it sets the beginning of the content of the scrollable side to a margin in the desired value*/
  width: 70%;
  height: 100%;
  overflow-y: auto;
  background-color: #2F3E46;
  color: #ffffe4;

}

.teachers{
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.scrollableWrapper{
  width: calc(100% - 14vw); /* 50px margin on both left and right */
  margin-left: 7vw;
  margin-right: 7vw;
  /* here we will use 100% of the static wrapper, 100vh would mean entire webpage */

}

.socialLinks a{  /*important to put a in front */
  text-decoration: none; /*removes the underlines*/
  cursor: pointer;
  color: #84A98C; /*need to define color here in order for it to transition*/
  transition: color 0.3s ease;
}

.socialLinks a:hover {
  color: #CAD2C5; /* Color on hover */
}