
.html, .body{
  font-size: 16px;  /*hor helping inrem value*/
  margin: 0;
  font-family: "Poppins", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

.libre-caslon-text-regular {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
}

.container{
  display: flex; /* Flexbox to align sections side by side */
  flex-direction: row;
  height: 100%; /* Full viewport height */
  width: 100%; /* Full viewport width VVIMP TO SET UP*/

}

/* Static Left Section */
.left {
  /* entire left side collectively */
  width: 30%; /* Corresponds to the Bootstrap 'col-3' width */
  min-height: 100vh; /* Full height of the viewport */
  max-width: 100vw;
  border-right: 1px solid #CAD2C5;  
  border-width: thin;
  background-color: #354F52;
  overflow: hidden; /*necessary as if we dont have this then the content when zoomed a lot may come to scrollable side */
  position:fixed;
  /* if we put fixed here, we have to put margin-left in scrollable side, if we dont put position altogether, the left side wobbles */

}
.imageWrapper {
  position: absolute; /* Ensure it stays behind text but above background color */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensure it is below the text but above the background color */
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25; /* Adjust the transparency as needed */
}


.leftWrapper{

  position: relative;
  z-index: 1;
  /* position and z-index ensures that .leftWrapper has position: relative and a higher z-index so that it stays above .imageWrapper.
  The opacity on .backgroundImage affects only the image, not the text, due to proper z-index layering.
   */

  /* holds all the content on the left static side */
  width: calc(100% - 6vw); /* 50px margin on both left and right */
  margin-left: 3vw;
  margin-right: 3vw;
  /* here we will use 100% of the static wrapper, 100vh would mean entire webpage */

  height: calc(100vh - 6vh);
  /* make sure you use vh fpr height and there is space between the brackets and elements  */
  margin-top: 3vh;
  margin-bottom:3vh;
  /* above make sure that the content is well fit between the left and right boundaries  */
  /* we wont take 100%, rather vh */

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around; /* Ensure equal space between items */

  box-sizing: border-box;

}

.tiro-devanagari-hindi-regular {
  font-family: "Tiro Devanagari Hindi", serif;
  font-weight: 400;
  font-style: normal;
}

.amodh{
  line-height: 0.75;
  color: #CAD2C5;

}

.amodhLeft {
  display: flex;
  justify-content: flex-start;
}

.amodhRight {
  display: flex;
  justify-content: flex-end;
} 
/* 
amodhleft and amodh right ensure that 'amodh' is put in a flexbox and is aligned to the extreme left of the flexbox
and 'sharma' is put in another flexbox and is aligned to the extreme right */

.aboutAmodh{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #CAD2C5;
  font-family: "Libre Caslon Text", serif;
  /* margin: 5vw;
  font-size: 1.25vw; */

}

.leftLinks{
  display: flex;
  flex-direction: column;


  font-size: calc(0.75vh + 0.75vw);
  box-sizing: border-box;

}


.leftLinks a {
  text-decoration: none; /* Removes the underlines */
  cursor: pointer;
  color: #CAD2C5; /* Default color */
  transition: color 0.3s ease; /* Smooth transition effect */
}

.leftLinks a:hover {
  color: white; /* Color on hover */
}


/* Scrollable Right Section */




.scrollable {
  margin-left:30%;
  width: 70%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  /* doesnt allow for left - right scrolling if any content gets out of proportion  */
  background-color: #2F3E46;
  color: #ffffe4;
  scroll-behavior: smooth;

}
.scrollableWrapper{
  width: calc(100% - 14vw); /* 50px margin on both left and right */
  margin-left: 7vw;
  margin-right: 7vw;
  /* here we will use 100% of the static wrapper, 100vh would mean entire webpage */

}

.socialLinks{
  display: flex;
  flex-direction: column;
  line-height: 0.85;
  /* dont need margin top after this  */
  font-size: calc(7vw + 7vh);
  font-weight: 400;
}
.socialLinks a{  /*important to put a in front */
  text-decoration: none; /*removes the underlines*/
  cursor: pointer;
  color: #84A98C; /*need to define color here in order for it to transition*/
  transition: color 0.3s ease;
}

.socialLinks a:hover {
  color: #CAD2C5; /* Color on hover */
}

.mail{
  display: flex;
  justify-content: flex-start;
}

.instagram{
  display: flex;
  justify-content: center;
}

.twitter{
  display: flex;
  justify-content: flex-end;
}

